@model IEnumerable<ComputerGamesShop.Models.Game>

@{
    ViewBag.Title = "Games";

}
<div class="container-games">
    <ul class="games-result-list col-md-8 column-in-center" style="list-style-type: none; margin: auto;">
        @foreach (var game in Model)
        {
            <li class="row" style="margin-bottom:5%;">
                <div class="col-md-3 game-image">
                    <img src="@game.Image" style="width:80%; height:200px;" />
                </div>
                <div class="col-md-4 game-title" style="height:200px">
                    <h4>
                        @game.Title
                    </h4>
                    <h6>
                        @game.Price
                    </h6>
                </div>
                <div class="col-md-2" style="height:200px">
                    
                </div>
                <div class="col-md-3" style="height:200px">
                    <div class="game-ofer">
                        <h2 class="price">
                            @game.Price
                        </h2>

                        <form action="/Search/HotelDetails" method="get" id="offer-form"></form>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit" form="offer-form" value="@game.ID" name="id">View Offer</button>
                        </span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<link rel="stylesheet" href="~/css/games.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />