@model IEnumerable<ComputerGamesShop.Models.Game>

@{
    ViewBag.Title = "Games";
}
<div class="container-games">
    <div class="search-container">
        <form class="form-inline" method="post" action="/games">
            <div class="form-group search-nav">
                <label for="focusedInput" style="margin-right:5px;"><b> Search </b></label>
                <input class="form-control" name="text" id="gameNameSearch" type="text" placeholder="Text">
                <label style="padding-left:15px; padding-right:3px;"><b> Multiplayer: </b></label>
                <div class="btn-group radio-group" role="group">
                    <input type="radio" name="type" value="Both" checked> Both
                    <input type="radio" name="type" value="Yes">Yes
                    <input type="radio" name="type" value="No">No
                </div>

                <label style="padding-left:8px;"> <b> Price:</b> </label>
                <span id="min" style="padding-left:5px; padding-right:5px;"> 0</span>
                @if (ViewBag.CurrentPrice == null)
                {
                    <input type="range" min="0" max="@ViewBag.MaxPrice" value="@ViewBag.MaxPrice" class="slider" id="Price" name="price" onchange="showVal(this.value)" />
                    <span id="max" style="padding-left:5px;">@ViewBag.MaxPrice$</span>
                }
                else
                {
                    <input type="range" min="0" max="@ViewBag.MaxPrice" value="@ViewBag.MaxPrice" class="slider" id="Price" name="price" onchange="showVal(this.value)" />
                    <span id="max" style="padding-left:5px;">@ViewBag.MaxPrice$</span>
                }
                <input type="submit" value="Filter" class="btn btn-default" style="margin-left:5px" />
            </div>
        </form> 
    </div>

    <ul id="games-list" class="games-result-list col-md-8 column-in-center" style="list-style-type: none; margin: auto;">
        @foreach (var game in Model)
        {
            <li class="row" style="margin-bottom:5%;">
                <div class="col-md-3 game-image">
                    <img src="@game.Image" style="width:80%; height:200px; border-radius: 8px;" />
                </div>
                <div class="col-md-6 game-title" style="height:200px">
                    <h4 class="title-string">
                        @game.Title
                    </h4>
                    @if (game.IsMultiplayer)
                    {
                        <h6>Multiplayer</h6>
                    }
                    else
                    {
                        <h6>Single player</h6>
                    }
                    <p>@game.Description</p>
                </div>
                <div class="col-md-3" style="height:200px">
                    <div class="game-options">
                        <h3 class="price">
                            @game.Price

                        </h3>
                        <span class="input-group-btn">
                            @if (Globals.isConnectedUser(Context.Session))
                            {
                                @if (Globals.isManagerConnected(Context.Session))
                                {
                                    <a href="games/delete/@game.ID">
                                        <button class="btn" type="submit" form="remove-game-btn" value="@game.ID" style="width:80px; background-color:#ff3333;">delete</button>
                                    </a>
                                    <a href="games/edit/@game.ID">
                                        <button class="btn" type="submit" form="edit-game-btn" value="@game.ID" style="width:80px; background-color: #c9c7c5;">edit</button>
                                    </a>
                                }
                                else if (!Globals.isGameInCart(@game.ID))
                                {
                                    <button id="addToCartBtn_@game.ID" class="btn" type="submit" form="add-to-cart-btn" value="@game.ID" style="background-color:#ff8000;"
                                            onclick="addToCart(@game.ID)">
                                        add to cart
                                    </button>
                                    <span class="inCartSpan invisible" id="inCart_@game.ID">
                                        in cart
                                    </span>
                                }
                                else
                                {
                                    <span class="inCartSpan" id="inCart">
                                        in cart
                                    </span>
                                }
                            }
                        </span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/games.js"></script>
<link rel="stylesheet" href="~/css/games.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />