@model IEnumerable<ComputerGamesShop.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2 style="padding-top:15px; padding-bottom: 15px; text-align:center; color:orange;">Orders list</h2>
<div style="margin-left:6%; margin-right:6%;">
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Customer's mail</th>
                <th>Address</th>
                <th>Store</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderID)
                </td>
                <td>
                    @Html.Raw(order.OrderDate.ToString("dd/MM/yyyy"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Customer.City) - @Html.DisplayFor(modelItem => order.Customer.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Store.DisplayName)
                </td>
                <td>
                    <a href="Orders/Details/@order.OrderID" style="text-decoration: none;"><button class="btn btn-info">Details</button></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>